@import 'normalize.css';
header {
  -webkit-background-image: linear-gradient(#cccc00, #ff6666);
  -moz-background-image: linear-gradient(#cccc00, #ff6666);
  -ms-background-image: linear-gradient(#cccc00, #ff6666);
  -o-background-image: linear-gradient(#cccc00, #ff6666);
  background-image: linear-gradient(#cccc00, #ff6666);
}
header h1 {
  color: #336699;
}
header nav {
  -webkit-background-image: linear-gradient(#79a6d2, #132639);
  -moz-background-image: linear-gradient(#79a6d2, #132639);
  -ms-background-image: linear-gradient(#79a6d2, #132639);
  -o-background-image: linear-gradient(#79a6d2, #132639);
  background-image: linear-gradient(#79a6d2, #132639);
}
header nav ul {
  height: 24px;
}
header nav ul li {
  width: 160px;
  float: left;
}
header nav ul li a {
  color: #132639;
  text-decoration: none;
  padding: 4px 0;
  display: block;
}
body {
  background-color: #79a6d2;
}
